<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.itguy.allshare">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:label="@string/app_name"
  >

    <activity
        android:name="com.tencent.connect.common.AssistActivity"
        android:configChanges="orientation|keyboardHidden"
        android:screenOrientation="behind"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    <activity
        android:name="com.tencent.tauth.AuthActivity"
        android:launchMode="singleTask"
        android:noHistory="true" >
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="@string/all_share_qq_app_id" />
      </intent-filter>
    </activity>

    <activity
        android:name=".platform.qq.QQEnrtyActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:launchMode="singleTask"
        android:exported="true"
        android:screenOrientation="portrait" />

    <activity
        android:name="${applicationId}.wxapi.WXEntryActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:launchMode="singleTask"
        android:exported="true"
        android:screenOrientation="portrait" />

    <activity
        android:name="com.pingan.sharesdk.api.weibo.WeiboEntryActivity"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:launchMode="singleTask"
        android:exported="true"
        android:screenOrientation="portrait" >
      <intent-filter>
        <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

  </application>

</manifest>
